header {
  max-width: 100%;
  min-width: 100%;
}

header img {
  max-width: 100%;
  min-width: 100%;
  margin-left: 0px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.sectiontwo h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 900;
}

p {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
}

#navbarNavAltMarkup {
  margin-right: 105px;
  max-width: 100%;
  padding: 5px;
}

#navbarNavAltMarkup {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.lineone {
  border-top: solid 2px #366B82;
  margin: 50px;
  margin-left: 0px;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
}

.linetwo {
  border-bottom: solid 2px black;
  margin: 20px;
  width: 310px;
  height: 2px;
  margin-left: 0px;
  align-items: center;
  max-width: 100%;
  display: inline-block;
}

ul {
  list-style: inherit;
  padding: 20px;
  line-height: 30px;
  font-weight: bold;
}

.sectiontwo img { 
  border-radius: 235px 38px 174px 51px;
  align-items: center;
  width: 110%;
}

.sectiontwo {
  background-color: #2A2D30;
  color: white;
  align-items: center;
  padding: 100px;
  width: 100%;
}

span {
  color: black;
}

iframe {
  z-index: 3;
  position: relative;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: 300px;
}

.textone {
  font-weight: 500;
}

.sectionfour {
  background-color: #3A899A;
  color: white;
  padding: 20px;
  align-items: center;
  max-height: 100%;
}

footer {
  background-color: #3A899A;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

.sectionthree h3 {
  color: #3A899A;
  font-weight: 600;
}

.sectionfour h3 {
  font-weight: 600;
  font-size: 25px;
}

.sectiontwo p {
  font-size: 18px;
}

.sectionthree {
  margin: 0px;
  padding: 100px;
  background: #fafafa;
}

.sectionfour p {
  margin: 0px;
}

#whatsapp{
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
}

@media (max-width: 575.98px) { 
  h1 {
    font-size: 30px;
  }

  .sectiontwo {
    padding: 10px;
  }

  .sectionthree {
    padding: 10px;
    justify-content: center;
  }

}


@media (max-width: 767.98px) { 
  .sectionthree {
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}


@media (max-width: 991.98px) { 

}


@media (max-width: 1199.98px) { 

}

