@media (max-width: 576px) {
  .sectiontwo img {
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .sectiontwo img {
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .sectiontwo img {
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1140px) {
  .sectiontwo img {
    padding: 40px 20px 40px 20px;
    align-items: center;
    justify-content: centerl;
  }
}


header {
  margin-left: 105px;
  max-width: 100%;
  padding: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.sectiontwo h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 900;
}

p {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-family: 'Montserrat', sans-serif;
}

#navbarNavAltMarkup {
  margin-right: 105px;
  max-width: 100%;
  padding: 5px;
}

#navbarNavAltMarkup {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.linea {
  border-bottom: solid 2px #366B82;
  margin: 20px;
  padding: 15px;
  width: auto;
  height: 2px;
  margin-left: 0px;
  align-items: center;
  width: 40vw;
}

.sectiontwo img { 
  border-radius: 235px 38px 174px 51px;
}

.sectiontwo {
  background-color: #2A2D30;
  color: white;
  padding: 110px;
}

.sectiontwo img {
  width: 900px;
}

span {
  color: black;
}

iframe {
  z-index: 3;
  position: absolute;
  height: 320px;
  width: 700px;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  touch-action: pan-x pan-y;
  max-width: 100%;
  display: block;
}

.titleNeumomed {
  font-size: 50px;
  font-weight: 900;
}

.textone {
  font-weight: 500;
}

.sectionfour {
  background-color: #3A899A;
  color: white;
  padding: 20px;
  height: 60vh;
}

footer {
  background-color: #3A899A;
  color: white;
  height: 7vh;
  font-weight: 900;
}

.sectionthree h3 {
  color: #3A899A;
  font-weight: 900;
}

.sectiontwo p {
  font-size: 18px;
}

.sectionthree {
  margin: 150px;
  align-items: center;
}